.header {
    background-color:#183D3D;
    color: white;
    display: flex;
    align-items: center;
}

.logo {
    text-align: left;
    width: 200px;
}

.link {
   
    text-decoration: none;
    color: white;
    font-size: 22px;
    margin: 20px;
   
}

.link:hover {
    text-decoration: underline;
}