.layout {
    display: flex;
    
}

.mainContent {
   flex: 1;
   
}

.eventCard {
    background-color: #e6e8e6;
    padding: 20px;
    width: fit-content;
    border-radius: 20px;
    margin: 0 auto;
}

.timeLeft {
    text-align: left;
    margin: 10px 0px 0px 20px;
}

.nextEventName {
    font-size: 32px;
    text-align: left;
    margin: 20px;
}

.nextEventDate {
    text-align: left;
    margin: 20px;
}

.nextEventTime {
    text-align: left;
    margin: 20px;
}

.nextEventLocation{
    text-align: left;
    margin: 20px;
}

.h3 {
    text-align: left;
    margin: 20px;
}