.layout {
    
    background-color: #183d3d62;

}

.link {
   
    text-decoration: none;
    color: white;
    font-size: 22px;
    margin: 20px;
   
}

.link:hover {
    text-decoration: underline;
}